* {
    box-sizing: border-box;
}
.navbar {
    background-color: #f8f9fa;
    border-style: solid;
    border-bottom-color: #cccccc;
    border-top-color: white;
    border-right-color: #f8f9fa;
    border-left-color: #f8f9fa;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 3em 0 3em 0;
    margin-bottom: 3em;
}
.navbar-brand {
    position: absolute;
    background-color: #4aaaa5;
    padding: 2em;
    font-size: 1.25rem;
    margin-left: 2em;
}
.navbar-menu {
    float: right;
    margin-left: 70%;
    font-size: 15pt;
}
.navbar-menu a {
    color: #cccccc;
    padding: 6px;
}
body {
    background-image: url(../images/backgroundimage.png);
}
.display-5 {
    color: #4aaaa5;
}
p {
    color: black;
    font-size: 12pt;
    margin-top: auto;
    line-height: 1.8;
}
.profilePic {
    margin: 0 1em 1em 0;
}
.fixed {
    text-align: center;
    background-color: #666666;
    height: 75px;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 3px;
    border-top-style: solid;
    border-top-color: #4aaaa5; 
}
.jumbotron {
    font-size: 12pt;
    width: 55em;
    margin-bottom: 3em;
    margin-left: 3.7em;
}
.card-title {
    position: absolute;
    color: white;
    background-color: #4aaaa5;
    top: 80%;
    left: 50%;
    padding-left: 4.79em;
    padding-right: 3.8em;
    transform: translate(-50%, -50%);
}
.img-responsive {
    display: block;
    max-width: 100%;
    height: auto;
}
input {
    width: 100%;
    padding: .4em;
    color: lightgray;
}
textarea {
    height: 10em;
    width: 100%;
}
button {
    width: 6em;
    color: white;
    background-color: #4aaaa5;
    font-size: 12pt;
    padding:.4em;
    border: none;
}
@media screen and (max-width: 980px) {
    body {
        background-color: lightblue;
    }
}
@media screen and (max-width: 768px) {
    body {
        background-color: lightblue;
    }
}
@media screen and (max-width: 640px) {
    body {
        background-color: lightblue;
    }
}
@media screen and (max-width: 980px) {
    .jumbotron {
        width: 100%;
    }
}
@media screen and (max-width: 600px) {
    .jumbotron {
        width: 100%;
    }
}

